# Pliki i katalogi systemu operacyjnego
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

# Katalogi generowane przez .NET
bin/
obj/
out/

# Pliki konfiguracyjne dla środowiska
appsettings*.json
*.user
*.suo
*.sln.ide

# Pliki dla narzędzi do zarządzania pakietami
*.nupkg
*.snupkg
packages/
*.nuspec

# Pliki z folderu .vs
.vs/

# Pliki bazy danych
*.mdf
*.ldf

# Pliki logów
*.log

# Pliki wygenerowane przez Docker
docker-compose.override.yml

# Katalogi tymczasowe
tmp/
temp/
